<div class="mainTail">
  <mat-card>
    <mat-card-content>
      <mat-list>
        <p mat-subheader>{{title}}</p>
        <mat-list-item *ngFor="let hero of heroes">
          <div class="listItemContent">
            <div class="listText">
              <span class="id">{{hero.id}}. </span>
              <span class="name">{{hero.name}}</span>
            </div>
            <div class="listAction">
              <a mat-icon-button="" color="basic" [routerLink]="['/detail', hero.id]">
                <span class="material-icons md-18 ">edit</span>
              </a>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
