
.heroesTail {
  width: 100%;
}

.listItemContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.listText {
  flex: 1 1 100%;
}

.listAction {
  flex: 0 0 90px;
}

.id {
  font-size: 12px;
  margin: 0 10px 0 0;
}

.mat-list-item {
  transition: 0.4 background-color;
}

.selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.row {
  display: flex;
  align-items: center;
  margin: 0 -5px;
}

.row .fieldCell,
.row .actionCell {
  padding: 0 5px;
}

.row .fieldCell {
  flex: 1 1 100%;
}

.row .fieldCell input,
.row .fieldCell .mat-input-container {
  width: 100%;
}

.row .fieldCell .actionCell {
  flex: 0 0 90px;
}

.row .fieldCell .actionCell button {
  width: 100%;
}
