<mat-toolbar color="primary">
  <span>Tour of Hero</span>
</mat-toolbar>
<div class="contentPage">
  <div class="mainTail">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <p mat-subheader>{{title}}</p>
          <mat-list-item *ngFor="let hero of heroes">
            <div class="listItemContent">
              <div class="listText">
                <span class="id">{{hero.id}}. </span>
                <span class="name">{{hero.name}}</span>
              </div>
              <div class="listAction">
                <button mat-icon-button="" color="basic" (click)="selectHero(hero)">
                  <span class="material-icons md-18 ">edit</span>
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="mainTail" *ngIf="selectedHero.id != 0">
    <app-card-hero [hero]="selectedHero"></app-card-hero>
  </div>
</div>
