.contentPage {
  padding: 15px;
}

.mainTail {
  margin: 15px auto;
  max-width: 550px;
}

.mat-sidenav-container {
  min-height: calc(100vh - 64px);
}

.mat-sidenav {
  width: 400px;
  max-width: 100vw;
  background-color: transparent;
  padding: 10px;
}
