@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}
